<div class="container-big-card">
    <div class="big-card-picture">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/800px-Placeholder_view_vector.svg.png"
            height="250px"
            
            alt="" />

    </div>
    <div class="big-card-title">
        <h1><a href="#">Nova versão do Angular</a></h1>

    </div>
    <div class="big-card-description">
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore nisi cumque reiciendis iste eaque adipisci perferendis, ullam, facilis dolorum harum accusamus nostrum. Magni quisquam placeat alias nisi ea consectetur ducimus.
        </p>

    </div>
</div>